name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ros:humble-ros-base-jammy
    steps:
      - uses: actions/checkout@v2
      - name: build and test
        shell: bash
        run: |
          mkdir -p /root/ros2_ws/src/mypkg
          cp -r . /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws
          rosdep update
          rosdep install -i --from-path src --rosdistro humble -y
          colcon build --packages-select mypkg
          source install/setup.bash
          cd src/mypkg
          bash ./test_grep.bash
